#mode{
    background-color: black;
    border: 2px solid rgb(65, 1, 1);
    color: white;
}

#dakmode{
    background-color: white;
    border: 2px solid rgb(65, 1, 1);
    color: black;
}

.light{
    color:black;
    background-color: white;
}
.dark{
    color:white;
    background-color: black;
}